@model List<string> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are the Users</h1>
    @foreach (var person in Model)
    {
        <p><a href="/user/@person">@person</a></p>
    }
</body>
</html>
