<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Survey Results</h1>
    <p>@ViewBag.name</p>
    <p>@ViewBag.location</p>
    <p>@ViewBag.language</p>
    <p>@ViewBag.comment</p>
</body>
</html>