
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Password</title>
</head>
<body>
    <h1>Random Password (Passcode #1)</h1>
    <h2></h2>
    <form action="Password" method='POST'>
        <button type="submit">submit</button>
    </form>
    <p>@ViewBag.password</p>
    <p>@ViewBag.count</p>

</body>
</html>