@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Welcome</h2>
    <hr>
    <div class="row">
        <div class="col-md">
            <partial name="_Registers"></partial>
        </div>
         <div class="col-md">
            <partial name="_Login"></partial>
        </div>
    </div>
</div>