@model Survey
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My name is @Model.FirstName</h1>
    <p>I am currently enrolled into the @Model.Location Campus</p>
    <p>I am learning the language : @Model.Language
    </p>
</body>
</html>